@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

.center-complete-loader {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1500;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  height: 4px;
  width: 0px;
  background: #cbd5e1;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-loader {
  animation: loader 1.5s infinite linear;
}
